@model ProjectFutureAdvannced.ViewModels.ProductViewModel.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}
<div class="Detail pt-5 pb-5">
    <div class="container mt-2 mb-2">
        <div class="DetailBook d-flex pt-5 pb-5">
            <div class="imgBook">

                @{ var img = "/ProductImg/" + Model.Image;}
                <img src="@img" asp-append-version="true" />
            </div>
            <div class="detailInfo">
                <h2 class="">@Model.Name</h2>
                <div class="detailInfos d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <p>Author</p>
                        @{
                            var user = await userManager.FindByIdAsync(Model.UserId);
                            <a asp-controller="Shop" asp-action="UserProfile" asp-route-UserName="@user.UserName">
                                <h5>@user.UserName</h5>
                            </a>
                        }
                    </div>
                    <div>
                        <p>Product Category</p>
                        <h5>@Model.CategoryName.ToString().Replace("_", " ")</h5>
                    </div>
                    @*<div>
                        <p class="">Created Date</p>
                        <h5>@Model.book.Created.Day / @Model.book.Created.Month / @Model.book.Created.Year</h5>
                    </div>*@
                </div>
                <p class="mb-3 bColor">@Model.Description</p>
                <div class="d-flex justify-content-center align-items-start gap-1 flex-column mt-2 priceCart">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <p class="btn mb-0">$@Model.Price</p>
                    </div>
                    <a asp-controller="home" asp-action="AddCart" asp-route-id="@Model.Id" class="btn btn-primary rounded-2"><i class="fa-solid fa-cart-arrow-down"></i> Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
